<ion-header>

  <ion-navbar>
    <ion-title>{{ capsule.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <h3>Recipients</h3>
    <ion-item>
      <ion-icon name="add-circle"></ion-icon>
      <p *ngFor="let recipient of capsule.recipients">
        {{ recipient.firstName }} {{ recipient.lastName | uppercase }}
        <ion-icon name="remove-circle" color="danger" end></ion-icon>
      </p>
    </ion-item>
    <h3>Messages</h3>
    <ion-icon name="add-circle"></ion-icon>
    <ion-item *ngFor="let message of capsule.messages">
      <p>tittle: {{ message.title }}</p>
      <p>updatedAt: {{ getDate(message.updatedAt) }}</p>
      <ion-icon name="create"></ion-icon>
      <ion-icon name="remove-circle" color="danger"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
