<ion-content padding>
  <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between'}">
    <button ion-button color="secondary" clear (click)="onCancel()">Cancel</button>
    <p>Recipients</p>
    <button ion-button (click)="onCreateRecipient()">
      <ion-icon name="add"></ion-icon>
    </button>
  </div>

  <ion-searchbar showCancelButton
                color="danger"
                (ionInput)="getItems($event)">
  </ion-searchbar>
  <ion-list padding>
    <ion-spinner *ngIf="spinner"></ion-spinner>
    <ion-item *ngFor="let recipient of recipients$ | async; let i = index"
              (click)="onAddRecipient(i)">
      <ion-avatar item-start>
        <img [src]="'https://pbs.twimg.com/profile_images/653700295395016708/WjGTnKGQ_400x400.png'">
      </ion-avatar>
      <h2>{{ recipient.firstName }}</h2>
      <p>{{ recipient.lastName }}</p>
      <ion-note item-end>{{ recipient.email }}</ion-note>
    </ion-item>
  </ion-list>

  <div [ngStyle]="{'background-color': 'rgb(151, 237, 49)',
                  'display': 'flex',
                  'justify-content': 'center'}">
    <p [ngStyle]="{'max-width': '70%', 'text-align': 'center'}">
      Chaque destinataire ajouté consomme un crédit Timesule. Il vous reste {{ credits }} crédits Timesule.
    </p>
  </div>

  <ion-list *ngIf="recipients">
    <capsule-users *ngFor="let user of recipientsList; let i = index"
                  [user]="user"
                  [index]="i"
                  [(recipientsList)]="recipientsList"></capsule-users>
  </ion-list>

  <p *ngIf="!recipients" padding>
    Vous devez ajouter un destinataire pour cette capsule
  </p>

  <div [ngStyle]="{'display': 'flex', 'justify-content': 'center'}">
    <button ion-button
            (click)="onPostCapsule()"
            [disabled]="!recipients"
            color="secondary"
            outline>Done</button>
  </div>

</ion-content>